
  <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1>Book Add/Edit</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
<div class="card">
    <div class="card-body">
        <div class="row">
  
      
                    <div class="col-md-4">
                        <label class="font-weight-bold" for="BookName"> Book Name </label>
                        <input type="text" required name="BookName" class="form-control" id="BookName" />

                    </div>
                    <div class="col-md-4">
                        <label class="font-weight-bold" for="BookName"> Book Name </label>
                        <input type="text" required name="BookName" class="form-control" id="BookName" />

                    </div>
                    <div class="col-md-4">
                        <label class="font-weight-bold" for="BookName"> Book Name </label>
                        <input type="text" required name="BookName" class="form-control" id="BookName" />

                    </div>
           
                    <div class="col-md-4">
                        <label class="font-weight-bold" for="BookName"> Book Name </label>
                        <input type="text" required name="BookName" class="form-control" id="BookName" />

                    </div>
                    <div class="col-md-4">
                        <label class="font-weight-bold" for="BookName"> Book Name </label>
                        <input type="text" required name="BookName" class="form-control" id="BookName" />

                    </div>
                    <div class="col-md-4">
                        <label class="font-weight-bold" for="BookName"> Book Name </label>
                        <input type="text" required name="BookName" class="form-control" id="BookName" />

                    </div>
          
        
                    <div class="col-md-4">
                        <label class="font-weight-bold" for="BookName"> Book Name </label>
                        <input type="text" required name="BookName" class="form-control" id="BookName" />

                    </div>
                    <div class="col-md-4">
                        <label class="font-weight-bold" for="BookName"> Book Name </label>
                        <input type="text" required name="BookName" class="form-control" id="BookName" />

                    </div>
                    <div class="col-md-4">
                        <label class="font-weight-bold" for="BookName"> Book Name </label>
                        <input type="text" required name="BookName" class="form-control" id="BookName" />

                    </div>
                </div>
            


        </div>

    </div>

</div>