<style>
    table.dataTable {
        width: 100% !important;
    }
</style>
<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Books List</h4>
                </div>
                <div class="card-body">
                    <table id="booktable" class="table table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>BookName</th>
                                <th>ISBN</th>
                                <th>AuthorName</th>
                                <th>BookPublish</th>
                                <th>PurchaseDate</th>
                                <th>Price</th>
                                <th>BookEdition</th>
                                <th>BookQty</th>
                                <th>Action</th>
                                <th>EntryDate</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>
</div>

    
<script>
    $(document).ready(function () {

        $("#booktable").DataTable({
             columns: [
                { 'data': 'BookName' },
                 { 'data': 'Isbn' },
                 { 'data': 'AuthorName' },
                 { 'data': 'BookPublish' },               
                {
                    'data': 'PurchaseDate',
                    'render': function (jsonDate) {
                        var date = new Date(parseInt(jsonDate.substr(6)));
                        var month = date.getMonth() + 1;
                        return date.getDate() + "/" + month + "/" + date.getFullYear();
                    }
                },
                {
                    'data': 'Price',
                    'searchable': false,
                    'sortable': false,
                    'render': function (Price) {
                        return '$ ' + Price;
                    }
                 },
                 { 'data': 'BookEdition' },
                { 'data': 'BookQty' },
                  {
                    'data': null,
                    render: function (data, type, row) {
                        return '<button id="' + row.BookId + '" class="btn btn-sm btn-info" onclick="deleteClick()"><i class="fas fa-edit"></i></button> <button id="' + row.BookId + '" class="btn btn-danger btn-sm" onclick="deleteClick()"><i class="fas fa-trash"></i></button>';
                    }
                },
                {
                    'data': 'EntryDate',
                    'render': function (jsonDate) {
                        var date = new Date(parseInt(jsonDate.substr(6)));
                        var month = date.getMonth() + 1;
                        return date.getDate() + "/" + month + "/" + date.getFullYear();
                    }
                },
               
                


            ],
            
            "responsive": true,
            "autoWidth": true,
            "lengthChange": false,
            bServerSide: true,
            sAjaxSource: '@Url.Action("ListOfBook", "Book")'

        })
    });

</script>


