<style>
    .showHideColumn {
        cursor: pointer;
    }
</style>
<script>
    $(document).ready(function () {

         $("#emptable").DataTable({
             columns: [
                { 'data': 'BookName' },
                 { 'data': 'Isbn' },
                 { 'data': 'AuthorName' },
                 { 'data': 'BookPublish' },
                 { 'data': 'PurchaseDate' },
                {
                    'data': 'Price',
                    'searchable': false,
                    'sortable': false,
                    'render': function (Price) {
                        return '$ ' + Price;
                    }
                 }, 
                 { 'data': 'BookEdition' },
                 { 'data': 'BookQty' },
                 { 'data': 'EntryDate' },

            ],
            bServerSide: true,
            sAjaxSource: '@Url.Action("ListOfBook", "Book")'

        })
    });

</script>
<div style="margin:2px">
    <b>Show/Hide Columns</b>
    <a class="showHideColumn btn btn-xs btn-info" data-columnIndex="0">ID</a>-
    <a class="showHideColumn btn btn-xs btn-info" data-columnIndex="1">Name</a>-
    <a class="showHideColumn btn btn-xs btn-info" data-columnIndex="2">Father Name</a>-
    <a class="showHideColumn btn btn-xs btn-info" data-columnIndex="3">Mother Name</a>-
    <a class="showHideColumn btn btn-xs btn-info" data-columnIndex="4">Date of Birth</a>-
    <a class="showHideColumn btn btn-xs btn-info" data-columnIndex="5">Salary</a>
</div>
<table id="emptable" class="table table-responsive">
    <thead>
        <tr>
     
            <th>BookName</th>
            <th>Isbn</th>
            <th>AuthorName</th>
            <th>BookPublish</th>
            <th>PurchaseDate</th>
            <th>Price</th>
            <th>BookEdition</th>
            <th>BookQty</th>
            <th>EntryDate</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

