@model LibraryManagement.Web.ViewModels.RolesModel
@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header  bg-gradient-gray-dark">
            @if (Model.ID != null)
                {
                <h5 class="modal-title" id="exampleModalLabel">Edit Roles</h5>
            }
            else
            {
                <h5 class="modal-title" id="exampleModalLabel">Create Roles</h5>
            }

            <button type="button" class="close btn btn-warning btn-sm" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="rolesForm">

                <input type="hidden" value="@Model.ID" name="ID" />
                <div class="form-group">
                    <label for="Name"> Name </label>
                    <input type="text" autocomplete="off" class="form-control" value="@Model.Name" name="Name" id="Name" placeholder="Enter Roles  Name">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
            <button type="button" class="btn btn-danger" id="btnSave"><i class="fas fa-save"></i> Save</button>
        </div>
    </div>
}


<script>

    $("#btnSave").on('click', function () {
        $.ajax({
            method: 'post',
            url: '@Url.Action("Action","Roles")',
            data: $("#rolesForm").serialize()
        }).done(function (response) {
            if (response.Success) {
                $('#myModal').modal('toggle');
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: response.Message,
                    showConfirmButton: false,
                    timer: 1500
                })
                window.setTimeout(function () {
                    window.location.reload();
                }, 1500)
            }
            else {
                Swal.fire({
                    position: 'top-end',
                    icon: 'warning',
                    title: response.Message,
                    showConfirmButton: true,

                })
            }

        })

    })
</script>