<div id="listData">
@{Html.RenderAction("Listing");}
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>


