<style>
    table.dataTable {
        width: 100% !important;
    }
</style>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Student List</h4>
                </div>
                <div class="card-body">
                    <table id="studenttable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Semester</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>Phone</th>
                                <th>Action</th>
                                @*<th>EntryDate</th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>






<script>
    $(document).ready(function () {

        $("#studenttable").DataTable({
             columns: [
                { 'data': 'Name' },
                { 'data': 'Code' },
                { 'data': 'Semester' },
                { 'data': 'Gender' },
                { 'data': 'Address' },
                 { 'data': 'City' },
                { 'data': 'Phone' },
                  {
                    'data': null,
                      render: function (data, type, row) {
                          return '<a href ="../Student/Action/' + row.ID + '" class="btn btn-xs btn-info mr-1"><i class="fas fa-edit"></i></a>'+
                             '<button class="btn-trash btn btn-danger btn-xs" data-id="' + row.ID +'"> <i class="fas fa-trash"></i></button>';
                    }
                },
                //{
                //    'data': 'EntryDate',
                //    //'render': function (jsonDate) {
                //    //    var date = new Date(parseInt(jsonDate.substr(6)));
                //    //    var month = date.getMonth() + 1;
                //    //    return date.getDate() + "/" + month + "/" + date.getFullYear();
                //    //}
                //},
            ],

            "responsive": true,
            "autoWidth": true,
            "lengthChange": true,
            bServerSide: true,
            sAjaxSource: '@Url.Action("ListOfStudent", "Student")'

        })
        $('.dataTable').on('click','.btn-trash',function () {
            let bookId = $(this).attr('data-id');
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        method: 'Get',
                        url: '@Url.Action("Delete", "Student")',
                        data: { id: bookId }
                    }).done(function (response) {
                        if (response.Success) {
                            Swal.fire(
                                'Deleted!',
                                response.Message,
                                'success'
                            )
                            window.setTimeout(function () {
                                window.location.reload();
                            }, 1500)
                        }
                        else {
                            Swal.fire(
                                'Deleted!',
                                response.Message,
                                'warning'
                            )
                        }
                    })
                }
            })
        })
    });

</script>


