<footer class="main-footer">
    <strong>Copyright &copy; @DateTime.Today.Year.ToString() <a href="#">AdminLTE.io</a>.</strong>
    All rights reserved.

</footer>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
