@model System.Web.Mvc.HandleErrorInfo
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Error Page</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="error-page">
       
        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong. Please contact with administrator </h3>

            <p>
                We will work on fixing that right away.
                Meanwhile, you may <a href="@Url.Action("Index","Dashboard")">return to dashboard</a> or try using the search form.
            </p>
            <small class="text-danger">@Model.Exception.Message</small>
        </div>
    </div>
    <!-- /.error-page -->

</section>
<!-- /.content -->
